.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
    color: var(--primary-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}
