.app_awesome_theme {
    --bg-color: #f9fbf4;
    --inverted-bg-color: #404a25;
    --primary-color: #525e30;
    --secondary-color: #5f6e37;
    --inverted-primary-color: #f2f5ed;
    --inverted-secondary-color: #f9fbf4;
}
