.app_dark_theme {
    --bg-color: #122631;
    --inverted-bg-color: #edf6f9;
    --primary-color: #00b4d8;
    --secondary-color: #90e0ef;
    --inverted-primary-color: #1b3a4b;
    --inverted-secondary-color: #0b525b;

    // skeleton
    --skeleton-color: #1a3748;
    --skeleton-shadow: #0b4c54;

    // code
    --code-bg: #12252f;

    // card
    --card-bg: #193544;
}
