.app_light_theme {
    --bg-color: #edf6f9;
    --inverted-bg-color: #11001c;
    --primary-color: #1b3a4b;
    --secondary-color: #0b525b;
    --inverted-primary-color: #00b4d8;
    --inverted-secondary-color: #90e0ef;

    // skeleton
    --skeleton-color: #1b3a4b;
    --skeleton-shadow: #6ca7b2;

    // code
    --code-bg: #dbe2e5;

    // card
    --card-bg: #c6cdd0;

    // view selector
    --nonactive-selector: #598993;
}
