.app.light {
    --bg-color: #f7f7fc;
    --inverted-bg-color: #16168a;
    --primary-color: #071817;
    --secondary-color: #184448;
    --inverted-primary-color: #207774;
    --inverted-secondary-color: #47bdc7;
}
