.ProfileCard {
    padding: 20px;
    border: 1px solid var(--inverted-bg-color);
}

.data {
    display: flex;
    flex-direction: column;
}

.input {
    margin-top: 15px;
}

.loading,
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}
